<html>
<head>
	<title></title>
</head>
<body>
	<form action="/appManage" method="post">
		<label for="appname">应用名称</label>
		<input type="text" name="appname" id="appname"> <br /> 
		<label for="desc">描述</label>
		<input type="textarea" name="desc" id="desc"> <br />
		<label for="category"></label>
		<select id="category" name="category">
		  <option value="1">教育</option>
		  <option value="2">生活</option>
		  <option value="3">摄影</option>
		  <option value="4">游戏</option>
		  <option value="5">娱乐</option>
		</select> <br />
		<input type="submit" value="上传">
	</form>
</body>
</html>