*{margin: 0;padding: 0;}
html,body{
	font-size: 16px;
	color: #fff;
	background: #333;
}

input{
	-webkit-appearance:none;
}

ul{list-style: none;}

header{
	height: 30px;
	font-size: 26px;
	padding-left: 30px;
	height: 64px;
	line-height: 64px;
}

header em{
	font-size: 16px;
}

.formContent{
	padding: 64px;
}

li{
	height: 64px;
	line-height: 64px;
}

li span{
	display: inline-block;
	width: 90px;
	text-align: right;
	padding-right: 20px;
}

li input,li textarea{
	border:1px solid #fff;
	outline: none;
}

li input{
	height:18px;
	line-height: 18px;
	padding: 6px 10px;
	width: 300px;
}

li input:focus{
	background: #333;
	color: #fff;
}

 .select{
 	-webkit-appearance: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 60px;
	border-radius: 0;
	top: 10px;
	height: 28px;
	right: 10px;
	border: none;
	background-size: 14px,12px;
	background-position: 0 center,right center;
	background-repeat: no-repeat;
	background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAh0lEQVRYR+2VUQ6AMAxC7Wl7pp1Wf40fYy9q0IT9QhoCtKsxxr5NXnfXDL+L1e8EKMHUEexABNgdoBkrPu6AGkjxV3d8RUwE+B1Qa5W/4OqAcmyl+WcOvgMRYHeAZqz4uANqIMX9h4gqfpofB/wlVHv9uc9ICaYlxRFEgN0BmrHi4w6ogRQ/AJuKgZnzY2rUAAAAAElFTkSuQmCC'),
	url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABLUlEQVRYR+2UwRGCMBBFCQeu2oFYgZSgFWgHmhNQhVoFcIp2oBVoCVqBliBXDuDuDDgZB8yGyQwewoUDm79vf/bDnIEfNnB/xwJYB6wD/+9AkiS+67rrPv+LsiyPcRw/f50lOZBlGYpMdCCqqrpHURSozpAAwIU5uHBRicnfYfoFTH9VnSEBoEiapifG2FIliN9h+jNMv6LUkgHqXXhQRGH6qeruGx0yAB6AXdjBa6uA2IdhiHWkRwtACDEuigIXctShnnue53POX6TuUKQFgKJwFRtYSNHWAKznYP2B2hzrtAHqhbzBQs7kRtTYfcP1AmiLJTV2RgBqFz6x1ImdMQApljlMH1BjZwxAiqWjEzujABhLFNSJnVEAnbh11fZKgYnGjYYFsA5YBwZ34A2OV2chSGyEcgAAAABJRU5ErkJggg=='); 
	
	outline: none;
	padding-left: 18px;
	padding-right: 10px;
	font-size: 12px;
	overflow: hidden;
	vertical-align: middle;
	background-color:rgba(0,0,0,0); 
	color: #fff;
}

li .submit{
	background: #fff;
	color: #333;
	width: 120px;
	height: 36px;
	line-height: 36px;
	padding: 0;
}

li .submit:active{
	
}